.container {
	background-color:lightgray;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
	display: flex;
}

.red, .green, .yellow {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
  margin: 10px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}